@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin block-item-state() {
  border: 1px solid $border-card;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 $primary-text-color-10;
  }

  &:active {
    box-shadow: 0 3px 5px 0 $primary-text-color-10;
  }
}

@mixin label-font {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

@mixin horizontal-shadow {
  box-shadow: inset 1px 0 0 $border-card;
}

@mixin vertical-shadow {
  box-shadow: inset 0 -1px 0 0 $border-card;
}
