@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin block-item-state() {
  border: 1px solid $border-card;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

@mixin label-font {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}
