// Цвета
$primary-text: #000000;
$primary-text-light: #010000;
$primary-text-30: rgba($primary-text, 0.3);
$primary-text-60: rgba($primary-text, 0.6);
$secondary-color: #444444;
$white: #ffffff;
$white-30: rgba($white, 0.3);
$accent-color-light: #63d1bb;
$accent-color-dark: #56c3b2;
$border-modal: #c6c6c6;
$border-card: #ececec;
$secondary-background: #f1f1f1;
