// Цвета
$primary-text-color: #000000;
$primary-text-light: #010000;
$primary-text-color-10: rgba($primary-text-color, 0.1);
$primary-text-color-30: rgba($primary-text-color, 0.3);
$primary-text-color-60: rgba($primary-text-color, 0.6);
$primary-light-color-25: rgba(0, 1, 1, 0.25);
$secondary-color: #444444;
$secondary-color-30: rgba($secondary-color, 0.3);
$secondary-color-10: rgba($secondary-color, 0.1);
$white: #ffffff;
$white-30: rgba($white, 0.3);
$white-90: rgba($white, 0.9);
$accent-color-light: #63d1bb;
$accent-color-light-interaction: #59d5bc;
$accent-color-dark: #56c3b2;
$accent-color-dark-interaction: #46c1ae;
$accent-color-dark-interaction-30: rgba($accent-color-dark-interaction, 0.3);
$accent-border: #62d1ba;
$accent-color-svg: #149080;
$accent-color-svg-50: rgba($accent-color-svg, 0.5);
$border-modal: #c6c6c6;
$border-card: #ececec;
$secondary-background: #f1f1f1;

// Брейкпоинты
$tablet-width: 772px;
$desktop-width: 1150px;
$mobile-width-only: 771px;
