// Цвета
$gray: #444444;
$light-gray: #c6c6c6;
$black: #000000;
$black-30: rgba(0, 0, 0, 0.3);
$black-60: rgba(0, 0, 0, 0.6);
$white: #ffffff;
$white-30: rgba(255, 255, 255, 0.3);
$white-darck: #f1f1f1;
$seaform-blue: #63d1bb;
