.about-us {
  margin-bottom: 54px;
}

.about-us__wrapper {
  padding: 0 30px;
}

.about-us__title {
  margin: 0;
  margin-bottom: 30px;
}

.about-us__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.about-us__item {
  position: relative;

  padding-top: 83px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;

  &:first-child {
    padding-top: 57px;
  }

  &--ecology {
    width: 175px;
  }

  &--nordic {
    width: 200px;
  }

  &--like {
    width: 181px;
  }

  &--knitwork {
    width: 211px;
  }

  &--box {
    width: 198px;
  }
}

.about-us__item svg {
  position: absolute;
}

.about-us__item--ecology svg {
  top: 1px;
  left: 8px;
}

.about-us__item--nordic svg {
  top: 29px;
  left: 0;
}

.about-us__item--like svg {
  top: 34px;
  left: 8px;
}

.about-us__item--knitwork svg {
  top: 31px;
  left: 3px;
}

.about-us__item--support svg {
  top: 32px;
  left: -6px;
}

.about-us__item--box svg {
  top: 30px;
  left: 3px;
}

.about-us__item path {
  fill: #63d1bb;
}

@media (min-width: $tablet-width) {
  .about-us {
    margin-bottom: 84px;
  }

  .about-us__wrapper {
    width: 668px;
    margin: 0 auto;
    padding: 0;
  }

  .about-us__title {
    margin-bottom: 47px;
  }

  .about-us__item {
    padding-top: 110px;

    font-size: 20px;
    line-height: 22px;

    &:nth-child(4) {
      padding-top: 57px;
    }

    &--ecology {
      width: 205px;
      margin-right: 129px;
    }

    &--nordic {
      order: 2;
      width: 235px;
      margin-right: 99px;
    }

    &--like {
      order: 4;
      width: 212px;
      margin-right: 123px;
    }

    &--knitwork {
      order: 1;
      width: 248px;
    }

    &--support {
      order: 3;
      width: 295px;
    }

    &--box {
      order: 5;
      width: 233px;
    }
  }

  .about-us__item--nordic svg {
    top: 57px;
  }

  .about-us__item--like svg {
    top: 62px;
  }

  .about-us__item--knitwork svg {
    top: 4px;
  }

  .about-us__item--support svg {
    top: 60px;
  }

  .about-us__item--box svg {
    top: 58px;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    margin-bottom: 92px;
  }

  .about-us__wrapper {
    width: 1050px;
  }

  .about-us__title {
    margin-bottom: 46px;
    padding-left: 173px;
  }

  .about-us__list {
    width: 700px;
    padding-left: 173px;
  }

  .about-us__item--ecology {
    margin-right: 145px;
  }

  .about-us__item--nordic {
    margin-right: 115px;
  }

  .about-us__item--like {
    margin-right: 139px;
  }

  .about-us__item--ecology svg {
    top: 3px;
    left: 11px;
  }

  .about-us__item--nordic svg {
    left: 3px;
  }

  .about-us__item--like svg {
    top: 64px;
    left: 11px;
  }

  .about-us__item--knitwork svg {
    top: 5px;
    left: 5px;
  }

  .about-us__item--support svg {
    left: -4px;
  }

  .about-us__item--box svg {
    left: 4px;
  }
}
