.button {
  font: inherit;
  font-weight: 700;
  color: $secondary-color;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid $secondary-color;

  &:hover,
  &:focus {
    color: $white;
    background-color: $secondary-color;
  }

  &:active {
    color: $white-30;
  }
}
