.categories {
  display: flex;
  flex-direction: column;
}

.categories__button {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 30px;

  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: $white;

  &:active {
    color: $white-30;
  }
}

.categories__button--interior {
  padding-right: 36px;

  background-color: $accent-color-light;

  &:hover,
  &:focus {
    background-color: $accent-color-light-interaction;
  }

  &:active {
    background-color: $accent-color-light-interaction;
  }
}

.categories__button--toys {
  padding-right: 27px;

  background-color: $accent-color-dark;

  &:hover,
  &:focus {
    background-color: $accent-color-dark-interaction;
  }

  &:active {
    background-color: $accent-color-dark-interaction;
  }
}

.categories__button-text {
  width: 111px;
  margin: 0;
  padding-top: 4px;
}

.categories__button svg {
  fill: $accent-color-svg-50;
}

.categories__button path {
  fill: $accent-color-svg;
}

.categories__button:hover svg,
.categories__button:focus svg {
  opacity: 0.7;
}

.categories__button:active svg {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .categories {
    flex-direction: row;
    width: 668px;
    margin: 0 auto;
  }

  .categories__button {
    width: 334px;
    padding-top: 30px;
    padding-bottom: 37px;
    padding-left: 36px;

    font-size: 20px;
    line-height: 30px;

    &:hover {
      transform: translateY(-5px);
    }

    &--toys {
      padding-right: 34px;
    }
  }

  .categories__button-text {
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .categories {
    width: 1050px;
  }

  .categories__button {
    width: 525px;
  }
}
