.catalog {
  width: 320px;
  padding-top: 30px;
  margin-bottom: 29px;
  margin-left: auto;
  margin-right: auto;
}

.catalog__wrapper {
  width: 260px;
  margin: 0 auto;
}

.catalog__list {
  @include list-reset;
}

.catalog__item {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 768px;
    padding-top: 65px;
    margin-bottom: 53px;
  }

  .catalog__wrapper {
    width: 668px;
  }

  .catalog__item {
    margin-bottom: 51px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1150px;
    margin-bottom: 55px;
    padding-top: 120px;
  }

  .catalog__wrapper {
    width: 1050px;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
  }

  .catalog__item {
    margin: 0;
  }
}
