.contacts__title {
  margin: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts_inner {
  margin: 0;

  font-size: 15px;
  line-height: 30px;
  color: $secondary-color;
}

.contacts__email-link {
  color: $secondary-color;

  &:hover,
  &:focus {
    color: $accent-color-dark-interaction;
  }

  &:active {
    color: $accent-color-dark-interaction-30;
  }
}

.contacts__map {
  height: 457px;

  background-image: url("../../img/icon-map-pin.svg"), url("../../img/map-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left 145px top 139px, left;
}
