.contacts {
  padding-bottom: 39px;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contacts__info {
  margin-bottom: 42px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 42px;
  padding: 0 30px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts__inner {
  display: flex;
  margin: 0;
  padding: 0 30px;

  font-size: 15px;
  line-height: 30px;
  color: $secondary-color;
}

.contacts__email {
  padding-bottom: 30px;
  margin-right: 30px;
}

.contacts__email-link {
  color: $secondary-color;

  &:hover,
  &:focus {
    color: $accent-color-dark-interaction;
  }

  &:active {
    color: $accent-color-dark-interaction-30;
  }
}

.contacts__address {
  margin-right: 33px;
}

.contacts__text {
  width: 141px;
}

.contacts__map {
  width: 320px;
  height: 457px;
  margin-bottom: 39px;

  background-image: url("../img/icon-map-pin.svg"), url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left 145px top 139px, left;
}

.contacts__button {
  align-self: center;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-bottom: 57px;
  }

  .contacts__wrapper {
    width: 668px;
    margin: 0 auto;
  }

  .contacts__info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 61px;
  }

  .contacts__title {
    width: 564px;
    margin-bottom: 65px;
    padding-left: 0;

    font-size: 43px;
    line-height: 50px;
  }

  .contacts__inner {
    padding: 0;

    font-size: 17px;
  }

  .contacts__email {
    margin-right: 26px;
  }

  .contacts__address {
    margin-right: 26px;
    padding-left: 55px;
  }

  .contacts__text {
    width: 219px;
  }

  .contacts__map {
    align-self: center;
    width: 768px;
    margin-bottom: 55px;

    background-image: url("../img/icon-map-pin.svg"), url("../img/map-tablet@1x.jpg");
    background-position: left 360px top 139px, left;;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-bottom: 105px;
  }

  .contacts__wrapper {
    flex-direction: row;
    width: 1050px;
  }

  .contacts__info {
    flex-direction: column;
    width: 390px;
    margin-bottom: 0;
    padding-top: 55px;
  }

  .contacts__title {
    width: 300px;

    font-size: 53px;
    line-height: 57px;
  }

  .contacts__address {
    padding-left: 0;
  }

  .contacts__map {
    width: 525px;
    margin-bottom: 0;
  }

  .contacts__button {
    margin-top: -25px;
  }
}
