.copyright {
  display: flex;
  justify-content: center;
}

.copyright__link {
  display: flex;
}

.copyright__link-text {
  align-self: center;
  margin: 0;
  margin-right: 30px;

  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: $primary-text-color;
}

.copyright__link svg {
  fill: $accent-color-light;
}

.copyright__link:hover svg,
.copyright__link:focus svg {
  fill: $accent-color-dark-interaction;
}

.copyright__link:active svg,
.copyright__link:active .copyright__link-text {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .copyright__link svg {
    padding-top: 8px;
  }
}
