.input-radio {
  display: flex;
  margin-bottom: 24px;
}

.input-radio__input:checked + .input-radio__label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 11px;

  width: 18px;
  height: 18px;

  border-radius: 50%;
  background-color: $accent-color-light;
}

.input-radio__label {
  @include label-font;
  position: relative;

  padding-left: 62px;

  &::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 2px;

    width: 36px;
    height: 36px;

    border-radius: 50%;
    box-shadow: 0 0 0 2px $secondary-color;
  }

  &:hover::before,
  &:focus::before {
    box-shadow: 0 0 0 2px $accent-color-light;
  }

  &:active::before {
    box-shadow: 0 0 0 2px $secondary-color-30;
  }
}

.input-radio__input:focus + .input-radio__label {
  outline: 1px solid $accent-color-light;
  outline-offset: 13px;
}

@media (min-width: $tablet-width) {
  .input-radio {
    margin-bottom: 55px;
  }

  .input-radio__label {
    padding-left: 80px;

    font-size: 19px;

    &::before {
      top: -15px;
      left: 0;

      width: 48px;
      height: 48px;
    }
  }

  .input-radio__input:checked + .input-radio__label::after {
    top: -2px;
    left: 14px;

    width: 20px;
    height: 20px;
  }
}

.input-radio__input:focus + .input-radio__label {
  outline-offset: 17px;
}

@media (min-width: $desktop-width) {
  .input-radio {
    width: 500px;
  }
}
