.input-text {
  width: 260px;
  margin-bottom: 24px;
}

.input-text__label {
  @include label-font;
}

.input-text__label--color {
  color: $accent-color-light;
  text-transform: uppercase;
}

.input-text__input {
  width: 100%;
  padding: 18px 0;

  font: inherit;
  color: $secondary-color;
  border: none;
  border-bottom: 2px solid $primary-text-color;
  background-color: transparent;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: $secondary-color-30;
  }

  &:hover,
  &:focus {
    border-color: $accent-border;
  }

  &:active {
    background-color: $accent-border;
  }
}

@media (min-width: $tablet-width) {
  .input-text {
    width: 100%;
  }

  .input-text__input {
    width: 360px;
  }
}
