.map {
  height: 457px;
}

.map__img {
  position: absolute;
  width: 322px;
  height: auto;
}

.map svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -85%);
}

@media (min-width: $tablet-width) {
  .map__img {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .map__img {
    width: 525px;
    height: 457px;
  }
}
