.offers-list {
  display: flex;
  @include list-reset;
}

.offers-list__link {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: $primary-text-color;

  &:hover,
  &:focus {
    color: $primary-text-color-60;
  }

  &:active {
    color: $primary-text-color-30;
  }
}
