.popular-product__wrapper {
  position: relative;
  padding: 0 30px;
}

.popular-product__title {
  margin: 0;
  margin-bottom: 8px;

  @include title-h2;
}

.popular-product__week {
  display: block;
  margin: 0;
  margin-bottom: 30px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $accent-color-light;
  text-transform: uppercase;
}

.popular-product__description {
  margin: 0;
  margin-bottom: 34px;

  font-size: 15px;
  line-height: 24px;
  color: $secondary-color;
}

.popular-product__specifications {
  margin-bottom: 28px;
}

.popular-product__img {
  margin-bottom: 29px;
}

.popular-product__price {
  margin: 0;
  margin-bottom: 28px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $secondary-color;
}

@media (min-width: $tablet-width) {
  .popular-product {
    padding-bottom: 53px;
  }

  .popular-product__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
    margin: 0 auto;
    padding: 0;
  }

  .popular-product__title {
    width: 570px;
    margin-bottom: 55px;

    font-size: 43px;
    line-height: 50px;
  }

  .popular-product__week {
    width: 70px;
    margin: 0;

    line-height: 17px;
    text-align: center;
  }

  .popular-product__content {
    width: 292px;
  }

  .popular-product__description {
    margin-bottom: 54px;

    font-size: 17px;
    line-height: 30px;
  }

  .popular-product__specifications {
    margin-bottom: 59px;
  }

  .popular-product__img {
    position: absolute;
    top: 115px;
    right: 28px;
    margin: 0;
  }

  .popular-product__price {
    margin-bottom: 34px;
    font-size: 20px;
  }
}

@media (min-width: $desctop-width) {
  .popular-product {
    padding-bottom: 73px;
  }

  .popular-product__wrapper {
    width: 1050px;
  }

  .popular-product__title {
    width: 875px;
    margin-bottom: 52px;

    font-size: 53px;
    line-height: 57px;
  }

  .popular-product__week {
    order: -1;
  }

  .popular-product__description {
    margin-bottom: 66px;
  }

  .popular-product__specifications {
    margin-bottom: 111px;
  }
}
