.product-order {
  width: 320px;
  margin-bottom: 54px;
  margin-left: auto;
  margin-right: auto;
}

.product-order__text {
  margin: 0;
  margin-bottom: 25px;
  padding: 22px 30px 0;

  font-size: 13px;
  line-height: 24px;
  color: $secondary-color;
}

@media (min-width: $tablet-width) {
  .product-order {
    width: 100%;
    margin-bottom: 50px;
    padding-top: 38px;
  }

  .product-order__text {
    width: 612px;
    margin: 0 auto;
    margin-bottom: 74px;
    padding-left: 0;
    padding-right: 55px;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .product-order {
    padding-top: 92px;
  }

  .product-order__text {
    width: 1050px;
    padding-left: 175px;
    padding-right: 161px;
    box-sizing: border-box;
  }
}
