.promo {
  min-height: 489px; // Временно
  margin-bottom: 34px;

  background-image: url("../../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-color: #f9f9f9;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
}

.promo__title {
  align-self: center;
  width: 244px;
  margin: 0;
  margin-top: 76px;
  margin-bottom: 120px;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: $primary-text-light;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .promo {
    margin-bottom: 55px;
    background-image: url("../../img/hero-tablet@1x.jpg");
  }

  .promo__title {
    width: 500px;
    margin-top: 124px;
    margin-bottom: 371px;

    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    margin-bottom: 134px;
    background-image: url("../../img/hero-desktop@1x.jpg");
  }

  .promo__title {
    width: 620px;
    margin-top: 121px;
    margin-bottom: 354px;

    font-size: 53px;
    line-height: 57px;
  }
}
