.product-card {
  display: flex;
  flex-direction: column;

  @include block-item-state;
}

.product-card__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $primary-text-color;

  &:hover,
  &:focus {
    color: $primary-text-color-60;
  }

  &active {
    color: $primary-text-color-30;
  }
}

.product-card__title {
  margin: 0;
}

.product-card__text {
  margin: 0;

  font-size: 13px;
  line-height: 30px;
  color: $secondary-color;
}

.product-card__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .product-card {
    flex-direction: row;
  }

  .product-card__link {
    font-size: 20px;
  }

  .product-card__text {
    font-size: 15px;
  }

  .product-card__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    flex-direction: column;
    width: 316px;
    min-height: 659px; // Временно
  }
}
