.product-video {
  padding: 0 30px;
  margin-bottom: 58px;
}

.product-video__wrapper {
  @include block-item-state;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.product-video__title {
  margin: 0;
  margin-bottom: 26px;
  padding: 29px 43px 0 91px;

  font-size: 17px;
  line-height: 24px;
}

.product-video__film {
  margin-bottom: 34px;
}

.product-video__button-play {
  position: absolute;
  top: 139px;
  left: 77px;

  width: 101px;
  height: 77px;
}

.product-video__text {
  padding-left: 34px;
  padding-right: 41px;
  margin: 0;
  margin-bottom: 29px;

  font-size: 13px;
  line-height: 24px;
  color: $secondary-color;
}

.product-video__button {
  align-self: center;
  margin-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .product-video {
    width: 668px;
    margin: 0 auto;
    margin-bottom: 63px;
  }

  .product-video__title {
    order: 1;
    padding: 0 107px;
    margin-bottom: 41px;

    font-size: 20px;
  }

  .product-video__film {
    margin-bottom: 43px;
  }

  .product-video__button-play {
    top: 37px;
  }

  .product-video__text {
    order: 2;
    padding-left: 40px;
    padding-right: 43px;
    margin-bottom: 40px;

    font-size: 15px;
    line-height: 30px;
  }

  .product-video__button {
    order: 3;
  }
}

@media (min-width: $desktop-width) {
  .product-video {
    width: 1050px;
    margin-bottom: 105px;
  }

  .product-video__wrapper {
    align-items: flex-start;
    height: 455px;
  }

  .product-video__title {
    width: 148px;
    padding: 100px 139px 0 79px;
  }

  .product-video__film {
    width: 682px;
    min-height: 455px; // Временно
    margin-bottom: 0;

    background-color: tomato; // Временно
  }

  .product-video__text {
    width: 222px;
    padding-left: 79px;
    padding-right: 67px;
    margin-bottom: 51px;
  }

  .product-video__button {
    align-self: flex-start;
    margin-left: 79px;
    margin-right: 57px;
  }
}
