.product-card {
  @include block-item-state;
}

.product-card__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $primary-text-color;

  &:hover,
  &:focus {
    color: $primary-text-color-60;
  }

  &active {
    color: $primary-text-color-30;
  }
}

.product-card__title {
  margin: 0;
}

.product-card__text {
  margin: 0;

  font-size: 13px;
  line-height: 30px;
  color: $secondary-color;
}

.product-card__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}
