.site-list {
  @include list-reset;
}

.site-list__link {
  font-size: 17px;
  color: $primary-text-color;

  &:hover,
  &:focus {
    color: $primary-text-color-60;
  }

  &:active {
    color: $primary-text-color-30;
  }
}
