.socials {
  width: 142px;
}

.socials__list {
  @include list-reset;

  display: flex;
  justify-content: space-between;
}

.socials__item {
  align-self: center;
}

.socials__link:hover path,
.socials__link:focus path {
  fill: $accent-color-dark-interaction;
}

.socials__link:active svg {
  opacity: 0.3;
}
