.table-specification {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
  line-height: 20px;
  color: $secondary-color;
}

.table-specification__row {
  @include vertical-shadow;
}

.table-specification__row td {
  min-width: 77px;
  padding-top: 10px;
  padding-bottom: 11px;
}

@media (min-width: $tablet-width) {
  .table-specification__row td {
    min-width: 68px;
  }
}
