.textaria-desc__label {
  @include label-font;

  color: $accent-color-light;
  text-transform: uppercase;
}

.textaria-desc__textarea {
  font: inherit;
  color: $secondary-color;
  border: 2px solid $secondary-color;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: $secondary-color-30;
  }

  &:hover,
  &:focus {
    border-color: $accent-border;
  }

  &:active {
    background-color: $accent-border;
  }
}
