.textarea-desc {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  margin-bottom: 18px;
}

.textarea-desc__label {
  @include label-font;

  margin-bottom: 23px;

  color: $accent-color-light;
  text-transform: uppercase;
}

.textarea-desc__textarea {
  width: 100%;
  padding-top: 17px;
  padding-left: 18px;

  font: inherit;
  color: $secondary-color;
  border: 2px solid $secondary-color;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: $secondary-color-30;
  }

  &:hover,
  &:focus {
    border-color: $accent-border;
  }

  &:active {
    background-color: $accent-border;
  }
}

@media (min-width: $tablet-width) {
  .textarea-desc {
    width: 668px;
  }

  .textarea-desc__textarea {
    width: 501px;
  }
}
