@media (min-width: $tablet-width) {
  .user-menu {
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .user-menu {
    order: 2;
    width: 451px;
  }

  .user-menu__list {
    padding-left: 101px;
  }
}
