.user-list {
  @include list-reset;
}

.user-list__link {
  font-size: 17px;
  color: $primary-text;

  &:hover,
  &:focus {
    color: $primary-text-60;
  }

  &:active {
    color: $primary-text-30;
  }
}
