.user-menu {
  min-height: 158px; // Временно
  background-color: palevioletred; // Временно
}

@media (min-width: $tablet-width) {
  .user-menu {
    order: -1;
    width: 347px;
    min-height: 88px; // Временно
  }
}

@media (min-width: $desctop-width) {
  .user-menu {
    width: 451px;
  }
}
