.user-list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.user-list__item {
  @include vertical-shadow;

  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 76px;
}

.user-list__link {
  position: relative;

  display: block;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $primary-text-color;

  &:hover,
  &:focus {
    color: $primary-text-color-60;
  }

  &:active {
    color: $primary-text-color-30;
  }
}

.user-list__link--search svg,
.user-list__link--basket svg {
  position: absolute;
  top: 5px;
  left: -45px;

  opacity: 0.2;
}

.user-list__link--search:hover svg,
.user-list__link--search:focus svg,
.user-list__link--basket:hover svg,
.user-list__link--basket:focus svg {
  opacity: 1;
}

.user-list__link--search:hover path,
.user-list__link--search:focus path,
.user-list__link--basket:hover path,
.user-list__link--basket:focus path {
  fill: $accent-color-light;
}

.user-list__link--search:active svg,
.user-list__link--basket:active svg {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .user-list {
    flex-direction: row;
  }

  .user-list__item {
    @include horizontal-shadow;

    padding-top: 31px;
    padding-bottom: 35px;
    padding-left: 83px;

    &:nth-child(1) {
      width: 84px;
      padding: 0;
    }
  }

  .user-list__link-text {
    display: none;
  }

  .user-list__link--search svg {
    top: 36px;
    left: 33px;
  }

  .user-list__link--basket svg {
    top: 3px;
    left: -52px;
  }
}
