.modal {
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  box-shadow: 0px 5px 10px 0 rgba($color: #000101, $alpha: 0.25);
}

.modal-order__title {
  margin: 0;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.modal-order__size {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.modal-order__button {
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
    &:hover {
      color: #ffffff;
      background-color: #63d1bb;
    }
    &:active {
      color: #ffffff;
    }
}
