.popular-product__title {
  margin: 0;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.popular-product__week {
  margin: 0;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $seaform-blue;
  text-transform: uppercase;
}

.popular-product__descrition {
  margin: 0;

  font-size: 15px;
  line-height: 24px;
  color: $gray;
}

.popular-product__price {
  margin: 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $gray;
}
