.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-list__link {
  font-size: 17px;
  color: #000000;
    &:hover,
    &:focus {
      color: $black-60;
    }
    &:active {
      color: $black-30;
    }
}
